/* large.css */
@media only screen and (min-width: 60rem) {
  section#about,
  section#projects,
  section#contact {
    scroll-margin-top: 40px;
  }

  section#about h1 {
    font-size: 4.5rem;
  }

  section#about h2 {
    font-size: 2rem;
  }

  .theParent a {
    flex-basis: 33.3333%;
  }

  section#contact h2 {
    font-size: 2rem;
  }
}
/* end media query*/
